.authing-guard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authing-guard-logo {
  margin-bottom: 8px;
}

.authing-guard-logo img {
  object-fit: contain;
}

.authing-guard-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.authing-guard-title {
  color: #282d3c;
  font-size: 24px;
  margin-bottom: 4px;
  width: 100%;
  word-break: break-all;
  text-align: center;
}
.authing-guard-description {
  font-size: 16px;
  color: #878a95;
  margin-bottom: 23px;
}

@media only screen and (max-width: 719px) {
  .authing-guard-header {
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 48px;
  }
  .authing-guard-title {
    margin-bottom: 0;
    padding-left: 8px;
    color: #333333;
    font-weight: 500;
    text-align: unset;
  }
  .authing-guard-logo {
    margin: 0;
  }
  .authing-guard-title-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .authing-guard-description {
    margin-bottom: 0px;
    padding-left: 8px;
  }
}

.test1111 {
  width: 100px;
  height: 100px;
}