.authing-guard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authing-guard-logo {
  margin-bottom: 8px;
}

.authing-guard-logo img {
  object-fit: contain;
}

.authing-guard-title {
  color: #abb9d7;
  font-size: 24px;
  margin-bottom: 24px;
}

// .large .logo {
//   margin-bottom: 16px;
// }

// .large .title {
//   color: #333333;
//   font-size: 32px;
// }
