@font-face {
  font-family: 'authing-icon'; /* project id 2008286 */
  src: url('//at.alicdn.com/t/font_2008286_32og8fsba7b.eot');
  src: url('//at.alicdn.com/t/font_2008286_32og8fsba7b.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2008286_32og8fsba7b.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2008286_32og8fsba7b.woff') format('woff'),
    url('//at.alicdn.com/t/font_2008286_32og8fsba7b.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2008286_32og8fsba7b.svg#authing-icon')
      format('svg');
}
