.authing-guard-layout {
  min-height: 100vh;
  background-color: #f8f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authing-guard-loading,
.authing-guard-load-error {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
