.authing-toggle-language-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(153, 153, 153);
}
.authing-toggle-language {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  margin-left: 5px !important;
}
