.select-option-item {
  height: 26px;
  line-height: 26px;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  display: flex;
  > span {
    width: 50%;
  }
}
.authing-g2-input-form.remove-padding {
  .authing-ant-input-affix-wrapper {
    padding-left: 0px;
  }

  *[class*='authing-'].authing-ant-select:not(.authing-ant-select-customize-input)
    .authing-ant-select-selector {
    display: flex;
    align-items: center;
    height: 28px;
    width: 87px;
    border: none;
  }
}
.areacode-virtual-dropdown {
  .authing-ant-select-item-option-active {
    color: #396aff;
  }
  .authing-ant-select-item-option-selected:not(.authing-ant-select-item-option-disabled) {
    color: #396aff;
  }
}
