@import '~antd/lib/style/mixins/index.less';

*[class*='authing-'] {
  @import '~antd/lib/style/core/global.less';
}

.authing-g2-render-module {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
