@import '~antd/lib/style/mixins/index.less';

*[class*='authing-'] {
  @import '~antd/lib/style/core/global.less';
}

.authing-g2-render-module {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 侵入 core 的样式代码，guard view 皮肤
.g2-view-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 456px;
  min-height: 610px;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  .none {
    display: none;
  }
  .g2-view-header {
    user-select: none;
    padding: 44px 38px 0;
    .icon {
      width: 48px;
      height: 48px;
      border-radius: 4px;
      margin-bottom: 8px;
    }
    .title {
      font-weight: 600;
      font-size: 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    margin-bottom: 24px;
  }

  .g2-view-tabs {
    padding: 0 38px;
  }

  .authing-g2-submit-button {
    width: 100%;
    border-radius: 4px;
    height: 42px;
  }
}

.authing-g2-button-group {
  background: #eff2f6;
  border-radius: 8px;
  padding: 4px 2px;
  margin-bottom: 16px;
  width: fit-content;

  .authing-ant-radio-button-wrapper {
    margin: 0 2px;
    border-radius: 8px;
    color: #545968;
    cursor: pointer;
    border: none;
    background: none;
    height: auto;
    &.authing-ant-radio-button-wrapper-checked {
      color: #396aff;
      background: #ffffff;
    }
    &:not(:first-child)::before {
      display: none;
    }
  }
}
.authing-g2-input-form {
  padding: 0 2px;
}
.authing-g2-input {
  border: 1px solid #eaebee;
  height: 46px;
  border-radius: 4px;

  // hover
  &.authing-ant-input-affix-wrapper:hover {
    border-color: #eeeff1;
    background: #eeeff1;
    .authing-ant-input {
      background: #eeeff1;
    }
  }

  // focus
  &.authing-ant-input-affix-wrapper-focused {
    background: #ffffff !important;
    .authing-ant-input {
      background: #fff !important;
    }
  }

  // 适配图形验证码
  &.add-after {
    border: none;
    .authing-ant-input-group {
      .authing-ant-input,
      .authing-ant-input-group-addon {
        border-radius: 4px;
        height: 46px;
      }
    }
  }
  .g2-captcha-code-image {
    min-width: 100px;
  }
}

.authing-g2-send-code {
  color: #396aff;
  cursor: pointer;
  &.sending {
    cursor: not-allowed;
    filter: opacity(0.5);
  }
}

.g2-tips-line {
  display: flex;
  font-size: 14px;
  padding: 0 38px;
  .link-like {
    color: #396aff;
    cursor: pointer;
  }
  .gray {
    color: #999;
  }
  .go-to-register {
    margin-left: auto;
  }
  .back-to-login {
    margin-left: auto;
  }
}
